<div class="row">
    <div class="col-xs-6 col-md-3", style="text-align: center;">
      <h4>01 七股鹽山</h4>
      <% if @user.photo.pic1.present? %>
        <%= image_tag(@user.photo.pic1.thumb.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
      <% end %>
    </div>

    <div class="col-xs-6 col-md-3", style="text-align: center;">
      <h4>02 安平夕遊出張所</h4>
      <% if @user.photo.pic2.present? %>
        <%= image_tag(@user.photo.pic2.thumb.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
      <% end %>
    </div>

    <div class="col-xs-6 col-md-3", style="text-align: center;">
      <h4>03 安平樹屋</h4>
      <% if @user.photo.pic3.present? %>
        <%= image_tag(@user.photo.pic3.thumb.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
      <% end %>
    </div>

    <div class="col-xs-6 col-md-3", style="text-align: center;">
      <h4>04 安平劍獅</h4>
      <% if @user.photo.pic4.present? %>
        <%= image_tag(@user.photo.pic4.thumb.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
      <% end %>
    </div>

    <div class="col-xs-6 col-md-3", style="text-align: center;">
      <h4>05 重道崇文坊</h4>
      <% if @user.photo.pic5.present? %>
        <%= image_tag(@user.photo.pic5.thumb.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
      <% end %>
    </div>

    <div class="col-xs-6 col-md-3", style="text-align: center;">
      <h4>06 神農街</h4>
      <% if @user.photo.pic6.present? %>
        <%= image_tag(@user.photo.pic6.thumb.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
      <% end %>
    </div>

    <div class="col-xs-6 col-md-3", style="text-align: center;">
      <h4>07 水仙宮市場</h4>
      <% if @user.photo.pic7.present? %>
        <%= image_tag(@user.photo.pic7.thumb.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
      <% end %>
    </div>

    <div class="col-xs-6 col-md-3", style="text-align: center;">
      <h4>08 赤崁樓</h4>
      <% if @user.photo.pic8.present? %>
        <%= image_tag(@user.photo.pic8.thumb.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
      <% end %>
    </div>

    <div class="col-xs-6 col-md-3", style="text-align: center;">
      <h4>09 陳德聚堂</h4>
      <% if @user.photo.pic9.present? %>
        <%= image_tag(@user.photo.pic9.thumb.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
      <% end %>
    </div>

    <div class="col-xs-6 col-md-3", style="text-align: center;">
      <h4>10 天壇</h4>
      <% if @user.photo.pic10.present? %>
        <%= image_tag(@user.photo.pic10.thumb.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
      <% end %>
    </div>

    <div class="col-xs-6 col-md-3", style="text-align: center;">
      <h4>11 測候所</h4>
      <% if @user.photo.pic11.present? %>
        <%= image_tag(@user.photo.pic11.thumb.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
      <% end %>
    </div>

    <div class="col-xs-6 col-md-3", style="text-align: center;">
      <h4>12 吳園</h4>
      <% if @user.photo.pic12.present? %>
        <%= image_tag(@user.photo.pic12.thumb.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
      <% end %>
    </div>

    <div class="col-xs-6 col-md-3", style="text-align: center;">
      <h4>13 青年路城隍廟</h4>
      <% if @user.photo.pic13.present? %>
        <%= image_tag(@user.photo.pic13.thumb.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
      <% end %>
    </div>

    <div class="col-xs-6 col-md-3", style="text-align: center;">
      <h4>14 知事官邸</h4>
      <% if @user.photo.pic14.present? %>
        <%= image_tag(@user.photo.pic14.thumb.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
      <% end %>
    </div>

    <div class="col-xs-6 col-md-3", style="text-align: center;">
      <h4>15 保安路</h4>
      <% if @user.photo.pic15.present? %>
        <%= image_tag(@user.photo.pic15.thumb.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
      <% end %>
    </div>

    <div class="col-xs-6 col-md-3", style="text-align: center;">
      <h4>16 南廠保安宮</h4>
      <% if @user.photo.pic16.present? %>
        <%= image_tag(@user.photo.pic16.thumb.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
      <% end %>
    </div>

    <div class="col-xs-6 col-md-3", style="text-align: center;">
      <h4>17 國華街</h4>
      <% if @user.photo.pic17.present? %>
        <%= image_tag(@user.photo.pic17.thumb.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
      <% end %>
    </div>

    <div class="col-xs-6 col-md-3", style="text-align: center;">
      <h4>18 原台南地方法院</h4>
      <% if @user.photo.pic18.present? %>
        <%= image_tag(@user.photo.pic18.thumb.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
      <% end %>
    </div>

    <div class="col-xs-6 col-md-3", style="text-align: center;">
      <h4>19 林百貨</h4>
      <% if @user.photo.pic19.present? %>
        <%= image_tag(@user.photo.pic19.thumb.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
      <% end %>
    </div>

    <div class="col-xs-6 col-md-3", style="text-align: center;">
      <h4>20 葉石濤文學紀念館</h4>
      <% if @user.photo.pic20.present? %>
        <%= image_tag(@user.photo.pic20.thumb.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
      <% end %>
    </div>

    <div class="col-xs-6 col-md-3", style="text-align: center;">
      <h4>21 台灣文學館</h4>
      <% if @user.photo.pic21.present? %>
        <%= image_tag(@user.photo.pic21.thumb.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
      <% end %>
    </div>

    <div class="col-xs-6 col-md-3", style="text-align: center;">
      <h4>22 孔廟</h4>
      <% if @user.photo.pic22.present? %>
        <%= image_tag(@user.photo.pic22.thumb.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
      <% end %>
    </div>

    <div class="col-xs-6 col-md-3", style="text-align: center;">
      <h4>23 大東夜市</h4>
      <% if @user.photo.pic23.present? %>
        <%= image_tag(@user.photo.pic23.thumb.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
      <% end %>
    </div>

    <div class="col-xs-6 col-md-3", style="text-align: center;">
      <h4>24 巴克禮公園</h4>
      <% if @user.photo.pic24.present? %>
        <%= image_tag(@user.photo.pic24.thumb.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
      <% end %>
    </div>

    <div class="col-xs-6 col-md-3", style="text-align: center;">
      <h4>25 虎山國小</h4>
      <% if @user.photo.pic25.present? %>
        <%= image_tag(@user.photo.pic25.thumb.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
      <% end %>
    </div>
</div>
