<h2>管理權限</h2><br />

<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Email</th>
      <th>權限</th>
      <th>功能</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.id %>
        </td>
        <td>
          <!-- <%= user.email %> -->
          <%= link_to(user.email, "/admin/users/" + user.id.to_s) %>
        </td>
        <td>
          <% if user.admin? %>
            管理員
          <% else %>
            註冊玩家
          <% end %>
        </td>
        <td>
          <% if user.admin? %>
            <%= link_to("移除管理權限", to_normal_admin_user_path(user), method: :post, class: "btn btn-warning") %>
          <% else %>
            <%= link_to("設定為管理員", to_admin_admin_user_path(user), method: :post, class: "btn btn-primary") %>
            <%= link_to("移除帳號", "/admin/users/" + user.id.to_s, method: :delete, class: "btn btn-danger", data: { confirm: '警告：確定刪除？' }) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
